.category_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 10vh; */
    /* border:1px solid red; */
    padding: 20px 0;
    margin-bottom: 20px;
}
.search_box {
    position: relative;
    flex-basis: 50%;
    /* border:1px solid red; */
}
.search_box input[type="search"] {
    padding-left: 40px;
}
.search_icon {
    position: absolute;
    top: 7px;
    font-size: 27px;
    margin-left: 6px
}
.category_head {
    /* border:1px solid red; */
    font-size: 20px;
    flex-basis: 5%;
}
.search_btn1 {
    background: #662672;
    color: #fff;
    font-size: 13px;
    padding: 5px 11px;
    border-radius: 10px 
}
.category_section {
    width: 98%;
    padding: 5px;
    border: 1px solid lightgrey;
    margin: auto;
    box-shadow: 0.1px 0.2px rgba(0,0,0,0.5);
    border-radius: 10px;
    height: 100%;
}
.edit {
    margin-right: 15px;
    cursor: pointer;
}
.delete {
    cursor: pointer;
}
th {
    font-size: 15px;
    background-color: bisque;
    font-weight: 500;
}
td {
    font-size: 14px;
}

.style_btns {
    position: absolute;
    bottom:10%;
    right: 4%;
}
.style_btns button {
    border-radius: 19px;
    padding: 5px 0;
    width: 123px;
    border: 1px solid #000;
    font-size: 14px;
}
.save_btn1 {
    margin-left: 20px;
    background-color: #662672;
    color:#fff;
}

.arrow_icon {
    font-size: 25px;
    cursor: pointer;
}